.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.background-div {
  background: #eee;
  height: 9rem;
  padding-top: 1.5rem;
}
.logo img {
  width: 120px;
}
.logo {
  /* width: 120px; */
}
ul {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #818181;
  font-weight: 400;
}

ul li {
  list-style: none;
}

ul li:hover {
  color: #f99600;
}

.nav-items {
  width: 90%;
}

a .active {
  color: #f99600;
}

a {
  text-decoration: none;
  color: #818181;
}

a:hover {
  text-decoration: none;
  color: #f99600;
}
