.footer-container {
  height: 4rem;
  background: #eee;
}

.inner-cntnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  color: #818181;
  padding-top: 0.5rem;
}

i {
  width: 50px;
  font-size: 2rem;
  color: #000;
}
